/AbstractArc.class
/AbstractNode.class
/AbstractPlace.class
/AbstractTransition.class
/Boundedness.class
/PetriNetInterface.class
/ResetArcMultiplicityException.class
/UnimplementedCaseException.class
