/AddArcCommand.class
/AddPlaceCommand.class
/AddTokenCommand.class
/AddTransitionCommand.class
/CutCommand.class
/DeleteArcCommand.class
/DeleteElementCommand.class
/DeleteElementsCommand.class
/DeletePlaceCommand.class
/DeleteTransitionCommand.class
/FireTransitionCommand.class
/MoveElementCommand.class
/MoveElementsCommand.class
/PasteCommand.class
/RemoveTokenCommand.class
/SetArcInhibitCommand.class
/SetArcMultiplicityCommand.class
/SetArcRegularCommand.class
/SetArcResetCommand.class
/SetEdgeZigzagPointCommand.class
/SetLabelCommand.class
/SetTokensCommand.class
